<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pok&#233;mon Battle</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="master.css">
    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
  </head>
  <body ng-app='pkmn'>
    <h1>Pokemon battle sim</h1>
    <main ng-controller='battleCtrl'>
      <ul>
        <li>Foe stats:</li>
        <li>{{foe.name | uppercase}}</li>
        <li>HP: {{foe.hp}}/{{foe.maxhp}}</li>
      </ul>

      <ul>
        <li>Your stats:</li>
        <li>{{pkmn.name | uppercase}}</li>
        <li>HP: {{pkmn.hp}}/{{pkmn.maxhp}}</li>
      </ul>

      <p>{{result}}</p>

      <p>What will TRAINER do?</p>
      <ul class='menu'>
        <li ng-click='fight()'>Fight</li>
        <p class='attacks' ng-repeat='move in pkmn.moves' ng-show='fighting' ng-click='selectMove(move)'>{{move.name}}</p>
        <li>Bag</li>
        <li>Pok&#233;mon</li>
        <li ng-click='run()'>Run</li>
      </ul>
    </main>
  </body>
</html>
